{% extends 'base.html' %}

{% load static %}

{% block header %}
<div class='container-fluid'>
  <div class="row mb-3">
      <img src="{% static "images/tabtitle.png" %}"  alt="..." height=100% width=100%>
  </div>
</div>
{% endblock %}


{% block navbar %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="{% url 'home-page' %}" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="events-tab" data-toggle="tab" href="{% url 'events-page' %}" role="tab" aria-controls="events" aria-selected="false">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="about-tab" data-toggle="tab" href="{% url 'about-page' %}" role="tab" aria-controls="about" aria-selected="false">About</a>
  </li>
  </ul>
{% endblock %}

{% block body %}
<div class="col-lg-8 ml-auto mr-auto mb-5 pt-4">
  <h1 class="text-center">EVENTS CALENDAR</h1>
  <p class="text-center">Our events consist of workshops, panels, company visits, and more.
    We also share events hosted by other organizations that may interest our members in our
    <a href="https://www.facebook.com/groups/acmsiggraphsjsu/?multi_permalinks=2604233296274004&notif_id=1566101191280422&notif_t=group_activity">Facebook page.</a>
    </p>
</div>
<div class="col-12 col-md-12 col-sm-12 text-center">
  <iframe src="https://calendar.google.com/calendar/embed?src=acmsiggraphsjsu%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>



<!-- <div class="col-lg-10 mx-auto mb-5 pt-4">
  <h1 class="text-center mb-4">PREVIOUS EVENTS</h1>
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4">
      <img src="{% static "images/events/guy.jpg" %}" width=100% height=100% class="img-fluid mb-4" alt="VR Demo Day (10/26/17)">

      <img src="{% static "images/events/robot.jpg" %}" id="vertical" width=100% height=100% class="img-fluid mb-4" alt="">

      <img src="{% static "images/events/girl.jpg" %}" id="vertical" width=100% height=100% class="img-fluid mb-4" alt="VR Demo Day (10/26/17)">

    </div>

    <div class="col-lg-4 col-md-6 mb-4">

      <img src="{% static "images/acmlogo.jpg" %}" width=100px height=100px class="img-fluid mb-4" alt="">


      <img src="{% static "images/acmlogo.jpg" %}" width=100px height=100px class="img-fluid mb-4" alt="">


    </div>

    <div class="col-lg-4 col-md-6 mb-4">

      <img src="{% static "images/acmlogo.jpg" %}" width=100px height=100px class="img-fluid mb-4" alt="">


      <img src="{% static "images/acmlogo.jpg" %}" width=100px height=100px class="img-fluid mb-4" alt="">

    </div>
  </div>
</div> -->

{% endblock %}
