{% extends 'base.html' %}

{% load static %}


{% block body %}
<div class="col-lg-8 text-center mx-auto">
  <div class="jumbotron">
    <div class="col-12 mx-auto pb-4">
      <h1 class="display-4">Who are we?</h1>
    </div>
    <p>
      Previously called Computer Graphics Club, ACM SIGGRAPH Student Chapter at SJSU is
      a student organization at San José State University in San Jose, CA.
      Formed out of a need to represent students with an
      interest in computer graphics, the club aims to be an asset to student life by
      connecting the SJSU community to the CG industry.
    </p>
    <p>The ACM SIGGRAPH Student Chapter at SJSU focuses on three goals:</p>
      <ol>
        <strong><li>Expanding awareness & presence of computer graphics technology on campus.</li></strong>
        <br>
        <p>We aim to go outside the campus, at connecting our club members to companies
          near and far us – getting students to those companies, and to the computer graphics
          conferences and events that are hosted around the year, like SIGGRAPH. We want to
          send people out to see what’s the latest in the industry, what new tools are out there,
          to learn and get connected with it all.</p>
        <strong><li>Uniting and sparking collaboration between the design, digital art, engineering, and science departments.</li></strong>
        <br>
        <p>We want to bring the exciting world of CG to us, so that we can get caught up on the latest in virtual reality tech, or GPU acceleration, or physically based rendering. We want to not only make technology accessible to us here, but to connect us to that expanding industry - get hands-on kits and tech that we can work with for our classes and personal projects.
        </p>
        <strong><li>Connecting students to the companies, software, events, and technology of the computer graphics industry.</li></strong>
        <br>
        <p>We want to break down barriers - between the art & science, and the design & engineering departments. We mean films, research, creative software, animation pipelines, projects that go beyond the courses and get people involved and working together. Computer graphics isn’t just tech, and it’s not just art – it’s both. And we want to demonstrate that.
        </p>
      </ol>
  </div>
</div>

<div class="container col-8 text-center">
  <h3>Become a part of our fast growing student organization and benefit from:</h3>
  <br>
  <ul>
    <p><li>Admission to free talks from CG industry & academic professionals</li></p>
    <p><li>Admission to software & technology workshops</li></p>
    <p><li>Access to VR & AR hardware</li></p>
    <p><li>Information on & discounts to CG-related events in the Bay Area</li></p>
    <p><li>Being a part of a thriving community of CG interested people</li></p>
  </ul>
</div>


<div class="container text-center mt-5 mb-5">
  <a href="http://bit.ly/siggraphsignup">
  <button type="button" class="btn btn-info">Sign Up for Membership!</button>
  </a>
</div>
{% endblock %}
